@import "tailwindcss";
@plugin "daisyui";

/* Custom Dark Theme (Default) */
@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;            

  
  --color-primary: #13b6ec;  /* Main Blue */
  --color-secondary: #92bbc9;/* Secondary Text/Icon Color */
  
  --color-base-100: #101d22; /* Main Dark Background */
  --color-base-200: #233f48; /* Card/Section Background */
  --color-base-300: #1b2e35; /* Darker Shade if needed */
  
  --color-base-content: #ffffff; 
  --color-neutral: #233f48;      /* Border or Neutral Elements */
  
  --color-info: #3abff8;
  --color-success: #36d399;
  --color-warning: #fbbd23;
  --color-error: #f87272;
}